@font-family: 'Roboto', sans-serif;

body {
    background-color: LightSteelBlue;
    text-align: center;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 50px;
  }
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
img {
    width: 50px;
}